html,
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  min-width: 320px;
}

.vis-network:focus{
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  grid-template-areas:
    "main main main"
    "main main main"
    "main main main"
    "right right right";
}
.main { grid-area: main; }
.right { grid-area: right; }

@media screen and (min-width:900px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 10px;
      grid-template-areas:
        "main main main right"
        "main main main right"
        "main main main right";
    }
    .main { grid-area: main; }
    .right { grid-area: right; }
}